<article class="post-card {{post_class}}">
    <div class="post-card-content background-scroll" style="background: url({{feature_image}}) no-repeat; background-size: cover">
      <a class="post-card-content-link" href="{{url}}">
        <footer class="post-card-meta">
          <span class="post-card-author">{{title}}</span>
        </footer>
      </a>
    </div>
</article>
